rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- FUNCIONES DE AYUDA (Helpers) ---
    
    // Verifica si el usuario está logueado
    function isAuth() {
      return request.auth != null;
    }

    // Verifica si el usuario es dueño del documento (por ID de usuario)
    function isOwner(userId) {
      return isAuth() && request.auth.uid == userId;
    }
    
    // Verifica si el usuario tiene rol de 'admin' en la base de datos
    function isAdmin() {
      return isAuth() && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // =========================================================
    // 1. COLECCIÓN DE USUARIOS (Perfiles)
    // =========================================================
    match /users/{userId} {
      allow read: if true; // Público (para ver perfiles en Home)
      
      // Permitimos crear si estás autenticado (Registro)
      allow create: if isAuth(); 
      
      // Actualizar: Dueño (foto/perfil) o Admin (roles)
      allow update: if isOwner(userId) || isAdmin();
      
      // Borrar: Solo Admin
      allow delete: if isAdmin();
    }

    // =========================================================
    // 2. COLECCIÓN DE ASESORÍAS (Citas)
    // =========================================================
    match /asesorias/{citaId} {
      // Crear: Cualquiera logueado puede pedir una cita
      allow create: if isAuth();

      // Leer y Actualizar (Responder): 
      // Solo permitimos si eres:
      // 1 El cliente que la pidió (clientId)
      // 2 El programador que la recibió (programmerId)
      // 3 El Admin
      allow read, update: if isAuth() && (
        resource.data.clientId == request.auth.uid || 
        resource.data.programmerId == request.auth.uid ||
        isAdmin()
      );
      
      // Borrar: Solo Admin (opcional)
      allow delete: if isAdmin();
    }

    // =========================================================
    // 3. COLECCIÓN DE PROYECTOS (Portafolio)
    // =========================================================
    match /projects/{projectId} {
      // Leer: Público
      allow read: if true;

      // Crear: Solo si estás logueado y te asignas como dueño
      allow create: if isAuth() && 
                       request.resource.data.programmerId == request.auth.uid;

      // Borrar: Solo el dueño o el Admin
      allow delete: if isAuth() && (
        resource.data.programmerId == request.auth.uid || 
        isAdmin()
      );

      // ACTUALIZAR (Lógica mixta):
      // 1. Si eres el dueño o Admin: Puedes editar todo (Título, Descripción).
      // 2. Si eres un usuario extraño: Solo puedes tocar el campo 'likes'.
      allow update: if isAuth() && (
        resource.data.programmerId == request.auth.uid || // Dueño
        isAdmin() || // Admin
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']) // Solo Likes o destacados 
      );
    }
  }
}