spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mi_api
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
